.intro-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0px -120px var(--cor-2);
}

.intro {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 0px 40px;
}

.intro-content {
  align-self: end;
  padding-bottom: 200px;
}

.intro img {
  padding-top: 100px;
  width: 350px;
  height: 700px;
  object-fit: cover;
}

.intro h1 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.intro p {
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .intro-bg {
    box-shadow: none;
  }
  .intro img {
    padding-top: 75px;
    width: 200px;
    height: 400px;
    object-fit: cover;
  }
  .intro h1 {
    padding-top: 10px;
    margin-bottom: 32px;
  }
  .intro-content {
    padding-bottom: 80px;
  }
  .intro p {
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .intro img {
    display: none;
  }
  .intro {
    grid-template-columns: 1fr;
  }
  .intro h1 {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .intro p {
    padding-bottom: 20px;
  }
  .intro-content {
    padding-bottom: 50px;
  }
}
